@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: 0 0% 7%;
  --foreground: 0 0% 100%;
  --card: 0 0% 9%;
  --card-foreground: 0 0% 100%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 0%;
  --primary: 324 100% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 0 0% 22%;
  --secondary-foreground: 0 0% 100%;
  --muted: 0 0% 20%;
  --muted-foreground: 0 0% 47%;
  --accent: 267 84% 62%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 85% 21%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 22%;
  --input: 0 0% 100%;
  --ring: 324 100% 50%;
  --radius: 0.5rem;
  }
  